/* Main CSS */
.discover--body {
  height: 100vh;
  overflow-y: overlay;
  flex: 0.8;
  background-color: #121212;
  /* background-color: #1E1E1E; */
  /* z-index: -2; */
}

.discover--body::-webkit-scrollbar {
  display: none;
}

/* Bottom Section CSS */
.discover--bottom-section {
  height: 100%;
  padding: 30px 36px;
  /* background: rgb(31, 34, 49);
  background: linear-gradient(180deg, rgba(31, 34, 49, 1) 0%, rgba(18, 18, 18, 1) 15%); */
}

/* Bottom Nav CSS */
.discover--play-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover--play-nav-left {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover--play-nav-right {
  /* width: 175px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type=text].discover--search-input {
  padding: 4px;
  border: 0;
  margin: 0;
  border-radius: 30px;
  background: transparent;
  caret-color: #767676;
  color: #767676;
  text-align: left;
}

.discover--search-input::-webkit-input-placeholder {
  text-align: left;
}
input[type="text"].discover--search-input::placeholder {
  text-align: left;
}

input.discover--search-input:focus {
  outline: none;
}

.discover--search-cont {
  display: flex;
  align-items: center;
  /* flex: 0.5; */
  color: whitesmoke;
  background-color: #1E1E1E;
  border-radius: 30px;
  padding: 10px;
  margin-right: 30px;
}

.discover--play-btn:hover, .discover--downarrow-btn:hover, .discover--more-btn:hover {
  transition: scale 0.2s ease-in-out;
  scale: 1.03;
  cursor: pointer;
}

.discover--recent-container {
  display: flex;
  align-items: center;
  min-width: 150px;
  color: #767676;
  padding: 4px;
  margin: 10px;
  cursor: pointer;
}

.discover--recent-txt {
  text-transform: capitalize;
  color: #767676;
  font-size: 12px;
  font-weight: 600;
  margin-right: 4px;
}

/* bottom Table CSS */
.discover--table-header {
  text-transform: uppercase;
  color: #A4A4A4;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.discover--table-head {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  margin-top: 18px;
}

.discover--table-first {
  display: flex;
  align-items: center;
}

.discover--table-header {
  margin-right: 20px;
}

.discover--table-row {
  margin: 0 5px;
  margin-top: 25px;
}

.discover--hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(164, 164, 164, 0.302);
  margin-top: 4px;
}

.discover--clock {
  margin-right: 32px;
  justify-self: end;
}

.discover--table-row:hover {
  transition: all 0.1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  margin-top: 16px;
}
