.library-card--body {
  background-color: #181818;
  width: 200px;
  height: 250px;
  border-radius: 8px;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.library-card--img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.35);
}

.library-card--txt-container {
  padding-top: 20px;
  position: absolute;
  bottom: 20px;
  left: 24px;
}

.library-card--name {
  color: white;
}

.library-card--txt {
  margin-top: 6px;
  color: #767676;
  font-size: 14px;
}

.library-card--body:hover {
  cursor: pointer;
}
