/* Navbar Left */
.navbar--container {
  background-color: #101010;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex: 0.8;
  /* z-index: -1; */
}

.navbar--container-loggedin {
  background-color: transparent;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex: 0.8;
  /* z-index: -1; */
}

.navbar--container-loggedin.active {
  background-color: #101010;
}

.nav--bg {
  background-color: #101010;
}

.nav--arrow-container {
  margin-left: 22%;
}

.nav--back-arrow, .nav--next-arrow {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  margin: 10px 4px;
}

.nav--back-arrow:hover, .nav--next-arrow:hover {
  transition: all 0.2s ease-in-out;
  background-color: #282828;
}

/* Navbar Right */
.nav--user-container {
   display: flex;
   align-items: center;
   background-color: black;
   color: whitesmoke;
   padding: 4px;
   margin: 10px;
   /* margin-right: 30px; */
   min-width: 150px;
   border-radius: 34px;
   cursor: default;
}

.nav--avatar {
  position: absolute;
  margin-right: 10px;
}

.nav--username {
  margin-right: 10px;
  font-size: 14px;
  text-transform: lowercase;
}

.nav--menu {
  cursor: pointer;
}

/* Login & Sign up Buttons */
.nav--login-btns {
  display: flex;
  align-items: center;
  margin: 30px;
}

.nav--sign-up {
  font-size: 16px;
  font-weight: 700;
  color: #A7A7A7;
  margin-right: 30px;
  cursor: pointer;
}

.nav--sign-up:hover {
  transition: color 0.2s ease-in-out;
  color: whitesmoke;
}

.nav--btn-login {
  background-color: whitesmoke;
  padding: 14px 28px;
  color: #101010;
  font-size: 16px;
  font-weight: 700;
  border-radius: 500px;
  border: none;
}

.nav--btn-login:hover {
  transition: all 0.2 ease-in-out;
  scale: 1.05;
  opacity: 95%;
}

.nav--btn-upgrade {
  background-color: transparent;
  border: 1px solid #A7A7A7;
  padding: 8px 20px;
  color: #A7A7A7;
  font-size: 16px;
  font-weight: 700;
  border-radius: 500px;
}

.nav--btn-upgrade:hover {
  transition: all 0.2 ease-in-out;
  scale: 1.05;
  opacity: 95%;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  cursor: pointer;
}
