.modal--lang-hover:hover {
  background-color: #404040;
}

.modal--lang-1 {
  padding: 0 16px;
  padding-top: 16px;

  font-size: 14px;
  margin-right: 125px;
}

.modal--lang-2 {
  padding: 0 16px;
  padding-bottom: 16px;

  font-size: 14px;
  margin-right: 125px;
  color: #A4A4A4;
}

.modal--lang-g1 {
  display: flex;
}
